@font-face {
  font-family: "EB Garamond";
  src: url("./misc/EBGaramond-VariableFont_wght.ttf");
  font-weight: 400 800;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./misc/EBGaramond-Italic-VariableFont_wght.ttf");
  font-style: italic;
  font-weight: 400 800;
}

@font-face {
  font-family: "Boritina";
  src: url("./misc/aaa_Boritina-Regular.otf");
  font-weight: 400;
}


* {
  box-sizing: border-box;
}

html {
  --nav-bar-width: 220px;
  --hover-bg: #e2dcf5;
  --hover-border: #C1BCD1;
}

body {
  margin: 0;
  display: flex;

  font-family: EB Garamond, Noto Serif JP, ui-serif, serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 14pt;
  font-feature-settings: "onum";
  line-height: 1.5;
}

:lang('zh-Hans') {
  font-family: Noto Serif SC, ui-serif, serif;
}

:lang('zh-Hant') {
  font-family: Noto Serif TC, ui-serif, serif;
}

:lang('ja') {
  font-family: Noto Serif JP, ui-serif, serif;
  font-feature-settings: '';
  line-height: 1.7;
}

.smcp {
  font-feature-settings: "smcp";
}

.lnum {
  font-feature-settings: "lnum";
}

.case {
  font-feature-settings: "case";
}

.selected {
  background: #ece7f9;
}

dt {
  margin-bottom: 8px;
}

dd ol {
  margin-left: -40px;
}

table {
  margin: auto;
}

/*** Sidebar */

nav {
  position: fixed;
  left: 0;
  top: 0;
  // background: #be82cd;
  // background: #dac7f8;
  width: var(--nav-bar-width);
  height: 100vh;
  border-right: 1px solid lightgray;
  background: white;
  overflow: auto;

  a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  .menu-container {
    border-bottom: 1px solid lightgray;
  }

  .menu-item-1 {
    display: block;
    cursor: pointer;
    font-weight: 500;
    padding: 8px;
    border-bottom: 1px solid lightgray;
    margin-bottom: -1px;


    &:hover {
      background: var(--hover-bg);
    }
  }

  .menu-item-2 {
    display: block;
    cursor: pointer;
    width: calc(100% - 8px);
    padding: 4px 8px 4px 12px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 0.9em;
    border: 1px solid transparent;
    border-right: none;

    &:hover {
      background: var(--hover-bg);
      border-top-left-radius: 999px;
      border-bottom-left-radius: 999px;
      border: 1px solid var(--hover-border);
      border-right: none;
    }
  }

  .submenu {
    display: block;
    width: 100%;
    padding: 4px 0;
  }
}

/*** Main panel */

#main-div {
  margin-left: var(--nav-bar-width);
  margin-bottom: 32px;
}

main {
  margin-left: calc((100vw - 650px - var(--nav-bar-width)) / 2);
  width: 650px;
  padding-left: 32px;

  a {
    color: #783978;
    text-decoration: none;

    &:visited {
      color: #783978;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 22pt;
  }

  h2 {
    font-size: 18pt;
    font-feature-settings: "smcp";
  }

  h1, h2, h3 {
    font-weight: 550;
    text-align: center;
    margin: 1em;
  }

  dt {
    font-weight: 600;
    margin-top: 1em;
  }
}

#header-container {
  display: flex;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-align: center;
  }
}

header {
  width: calc(100vw - var(--nav-bar-width));
  display: flex;
  padding: 16px 16px 8px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  gap: 8px;
  align-items: center;

  .logo-container {
    display: flex;
    gap: 8px;
  }

  h3 {
    margin: 0;
  }
}

.header-logo {
  height: 32px;
}

details.ingredients {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 8px 0;

  summary {
    cursor: pointer;
    list-style-type: '☞  ';
  }

  dt {
    margin-left: 22px;
  }

  dd {
    margin-right: 24px;
  }

}

table.roster {
  border-collapse: collapse;

  td {
    padding: 4px 8px;
    border: 1px solid lightgray;
  }
}

table.schedule {
  border-collapse: collapse;

  td {
    padding: 4px 8px;
  }

  td.smcp:nth-child(1) {
    font-feature-settings: "smcp";
  }
  td:nth-child(1) {
    text-align: right;
    font-feature-settings: 'onum', 'tnum';

    .case {
      vertical-align: 0.1em;
    }
  }

  td.break {
    color: lightgray;
    text-align: right;
    padding: 0 8px;
  }
}

table.credit {
  border-collapse: collapse;

  td {
    padding: 4px 8px;
  }

  td:nth-child(1) {
    font-weight: 600;
  }
}

table.shinsa-numbers, table.taikai-order {
  margin: 16px 0;
  width: 100%;

  td.shinsa-number, td.taikai-order {
    text-align: center;
    vertical-align: middle;
    width: 3rem;
  }
}

div.hanshi-info {
  margin: 1.5em 0;
  p {
    margin: 0.5em 0;
  }
}

#shinsa-number-search, #taikai-order-search {
  width: 100%;
  display: block;
  margin: 16px 0;
  padding: 4px;
  border: 1px solid lightgray;
  height: 3em;
  border-radius: 5px;
}

.flush-right {
  text-align: right;
}

.super-important {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 16px 8px;
  font-weight: 600;
  text-align: center;
}

.super-super-important {
  background: #ffeeee;
  margin: 16px;
  text-align: left;
  border: 1px solid #ffaaaa;
  border-radius: 8px;
  padding: 16px;
}

@mixin opening-schedule {
  border-collapse: collapse;
  margin: 16px auto;

  td {
    vertical-align: top;
    padding: 8px;
  }

  td:nth-child(1) {
    white-space: nowrap;
    padding-right: 16px;
    font-weight: 600;
  }
}

table.opening-schedule-en {
  @include opening-schedule;

  td:nth-child(1) {
    text-align: right;
  }
}

table.opening-schedule-ja {
  @include opening-schedule;
}

.big-button {
  display: block;
  padding: 16px;
  border: 1px solid lightgray;
  border-radius: 8px;
  text-align: center;
  font-size: 1.5em;

  &:hover, &:active {
    text-decoration: none;
    background: var(--hover-bg);
    border-color: var(--hover-border);
  }
}

.article-image {
  width: min(80vw, 650px);
}

/// Mobile

#nav-switch {
  display: none;
}

@media screen and (max-width: 1023px) {
  nav {
    position: absolute;
    height: max-content;
    display: none;
    border-top: 1px solid lightgray;
  }

  #main-div {
    border-top: 1px solid lightgray;
  }

  button#nav-switch {
    display: flex;
    background: none;
    border: none;
    width: 48px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    align-items: center;
    justify-content: center;

    &:active {
      background: var(--hover-bg);
    }
  }

  #main-div {
    margin: 0;
  }

  header {
    // 32px is the width of the hamburger button.
    width: calc(100vw - 48px);
    align-items: center;
  }

  main {
    width: calc(100vw - 40px);
    margin-left: 10px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .logo-container {
    flex-direction: column;
    align-items: center;
  }
}

// Local Variables:
// css-indent-offset: 2
// End:
